
@import 'https://fonts.googleapis.com/css?family=Poppins:500|Lora:400,400i,700,700i|Open+Sans:400|Inconsolata|Roboto:700';
@import 'components/general';
@import 'components/banner';
@import 'components/document';
@import 'components/home';

body.-core-body {
  background-color: $white;
  font-family: 'Lora', serif;
  color: rgba(0,0,0,.8);
  font-size: 18px;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
}

#MathJax_Message {
  display: none !important;
}

span {
  vertical-align: middle;
}

p {
  letter-spacing: -.4px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}
