
// $green:       #02b875;
// $blue:        #5EBEFF;

$green:       #27c971;
$light-green: #bdf1cf;
$white:       #ffffff;
$blue:        #249af4;
$red:         #ff635f;
$light-blue:  #3cabf1;
$light-gray:  #F4F6F9;
$font-black:  rgba(0,0,0,.8);
