doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title Markup – Create and share rich TeX snippets powered by KaTeX and Markdown
    block scripts
  body(class='-core-body')
    block content
