
@import '../utilities/colors';
@import '../utilities/mixins';

.-icon-size {
  position: relative;
  font-size: 20px !important;
  @extend .-psuedo-link;
}
.-icon-spacing {
  margin-left: 20px;
}

.-banner-title {
  font-family: 'Poppins', sans-serif;
  color: $white;
  font-size: 46px;
  letter-spacing: 1px;
  margin: 0 auto;
  cursor: pointer;
  display: inline-block;
}

.-notifications:after {
  content: '';
  position: absolute;
  border-radius: 100%;
  background-color: #ff635f;
  height: 8px;
  width: 8px;
  border: 2px solid #27c971;
  right: -2px;
  top: 3px;
}

.-document-banner {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $green;
  display: block;
  width: 100%;
  min-width: 750px;
  height: 110px;
  z-index: 1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.30);
  @include transition(275ms);

  ul {
    font-family: 'Helvetica Neue', sans-serif;
    list-style-type: none;
    -webkit-padding-start: 0;
    margin: 0;
  }

  .-banner-upper {
    text-align: center;
    height: 75px; /* just to enforce this */

    .-banner-float-left {
      float: left;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: $light-green;
      line-height: 75px;
      text-align: left;
      width: 260px;
    }

    .-banner-float-right {
      float: right;
      text-align: right;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: $light-green;
      line-height: 75px;
      width: 260px;
    }

    .-banner-text {
      font-family: BlinkMacSystemFont,-apple-system,sans-serif;
      font-size: 13px;
      font-weight: 500;
      white-space:nowrap;
      padding: 5px;
    }
  }

  .-banner-lower {
    ul {
      text-align: center;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: .4px;
      margin: 0 auto;
    }

    li {
      @extend .noselect;
      @extend .-psuedo-link;
      margin: 2.5px;
      width: 30px;
      line-height: 30px;
      display: inline-block;
      color: $white;
      font-weight: 700;
      text-transform: uppercase;
    }

    a {
      color: $white;
      opacity: .75;
    }
    a:hover {
      opacity: 1;
    }
  }
}

.-banner-inner-side {
  padding-left: 10px;
  padding-right: 10px;
}

.-banner-upper, .-banner-lower {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.-banner-icons {

  li {
    border-radius: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 50%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: 50%;
    @include transition(150ms);
  }
  li:hover {
    background-color: rgba(0,0,0,.1);
  }
  li:active {
    background-color: rgba(0,0,0,.2);
  }

  .-bold {
    background-image: url("../img/icons/bold.png");
    background-size: 35%;
  }
  .-italic {
    background-image: url("../img/icons/italic.png");
    background-size: 35%;
  }
  .-linebreak {
    background-image: url("../img/icons/linebreak.png");
    background-size: 75%;
  }
  .-strikethru {
    background-image: url("../img/icons/strikethru.png");
    background-size: 55%;
  }
  .-quote {
    background-image: url("../img/icons/quote.png");
    background-size: 65%;
    background-position-y: 40%;
  }
  .-ul {
    background-image: url("../img/icons/ul.png");
  }
  .-ol {
    background-image: url("../img/icons/ol.png");
  }
  .-code {
    background-image: url("../img/icons/code.png");
    background-size: 70%;
  }
  .-math {
    background-image: url("../img/icons/lambda.png");
  }

}

@media all and (max-width: 1000px) {
  .-banner-upper, .-banner-lower {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
