
@import '../utilities/colors';
@import '../utilities/mixins';

.document-wrapper {

}

textarea {
  font-family: 'Open Sans', sans-serif !important;
}

.document-text-section {
  position: relative;
  padding: 220px 40px 350px;
  width: 50%;
  min-height: 100vh;
  border: 0;
  resize: none;
  box-sizing: border-box;
  display: inline-block;
  outline: none;

  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
  }

  a {
    color: $green;
    text-decoration: underline;
  }

  code {
    font-family: monospace;
    font-size: 16px;
    border: 0;
    padding-right: 0;
    padding-left: 0;
    color: #d0d4d7;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #333;
    padding: 20px !important;
    margin: 10px 0 30px !important;
  }
}

.-uneditable {
  background-color: rgba(0, 0, 0, .025);
}
