
@import '../utilities/colors';
@import '../utilities/mixins';

.-homepage-landing-block {
  position: relative;
  background-color: $green;
  display: block;
  min-height: 800px;
  height: 800px;
  height: 100vh;
  width: 100%;
  padding-bottom: 50px;
  overflow: hidden;
  min-width: 1000px;

  @include media-query($on-mobile) {
    width: 100%;
    min-width: 100%;
  }

  .-banner-title {
    padding: 50px 0 10px;
    text-align: center;
    font-size: 4em;
    letter-spacing: -2px;
    color: $white;
    display: block;
    cursor: default;
    font-family: 'Poppins', sans-serif;
    color: $white;
    margin: 0 auto;
  }

  .-banner-sub-title {
    font-family: 'Open Sans', sans-serif;
    color: $white;
    opacity: .75;
    letter-spacing: 1px;
    margin: 0 auto;
    width: 450px;
    padding: 0;
    font-weight: 100;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    display: block;
    cursor: default;

    @include media-query($on-mobile) {
      width: 100%;
    }

    span {
      vertical-align: initial;
    }
  }

  input[type=button] {
    margin: 30px auto;
  }
}

.-landing-example-container {
  // position: absolute;
  // bottom: 0;
  width: 700px;
  // left: 50%;
  // margin-left: -350px;
  position: relative;
  margin: 0 auto;

  @include media-query($on-mobile) {
    width: 100%;
  }

  .document-text-section {
    padding: 60px 40px 20px;
    min-height: 400px;
    max-height: 400px;
  }
}

.-landing-example-document-container {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.30);
  border-radius: 4px;
  overflow: hidden;

  @include media-query($on-mobile) {
    width: 80%;
    margin: 0 auto;
  }
}

.-all-samples-container {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 50px auto;
  text-align: center;

  .-sample-container {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 300px;
    height: 150px;
    margin: 10px 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.30);
    border-radius: 4px;
    overflow: hidden;
  }
}


.-homepage-features-block {
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  background-color: $light-gray;
  text-align: center;

  img {
    opacity: .1;
    margin: 30px 20px;
    height: 40px;
    cursor: pointer;
    @include transition(200ms);
  }

  img:hover {
    opacity: .2;
  }
}

.-landing-header-bottom-curve {
  position: absolute;
  bottom: 0;
  background: #fff;
  width: 100vw;
  min-width: 1000px;
  z-index: 9999;

  svg {
    height: 100px;
    width: 100%;
  }
}

// All sections with samples container
.section-with-side-sample-container {
  position: relative;
  width: 100vw;
  background: #fff;
  height: 800px;

  @include media-query($on-mobile) {
    width: 100%;
  }

  h1 {
    padding: 60px;
    padding-bottom: 25px;
    font-size: 2.5em;
    font-weight: 600;
  }
  p {
    padding: 0 60px;
    line-height: 38px;
    font-size: 24px;
    font-weight: 300;
  }

  @include media-query($on-mobile) {
    h1, p {
      padding: 30px;
    }
    p {
      padding-top: 0px;
    }
  }
}

// Left sample
.section-with-left-side-sample {
  position: relative;
  height: 700px;
  background: #fff;
  width: 100vw;
  min-width: 1000px;
  overflow: hidden;

  @include media-query($on-mobile) {
    min-width: 100%;
  }

  .-left-side {
    position: absolute;
    left: 0;
    height: 100%;

    img {
      position: absolute;
      margin-top: 410px;
      top: -50%;
      left: -500px;
      width: 1000px;
      border-radius: 10px;
      box-shadow: 0 5px 25px rgba(0,0,0,.4);

      @include media-query($on-mobile) {
        display: none;
      }
    }
  }
  .-right-side {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;

    @include media-query($on-mobile) {
      width: 100%;
    }
  }
}

// Right sample
.section-with-right-side-sample {
  position: relative;
  background: $green;
  height: 700px;
  width: 100vw;
  min-width: 1000px;
  overflow: hidden;

  @include media-query($on-mobile) {
    min-width: 100%;
  }

  .-left-side {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    color: #fff;

    @include media-query($on-mobile) {
      width: 100%;
    }
  }
  .-right-side {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;

    img {
      position: absolute;
      margin-top: 410px;
      top: -50%;
      right: -500px;
      width: 1000px;
      border-radius: 10px;
      box-shadow: 0 5px 25px rgba(0,0,0,.4);

      @include media-query($on-mobile) {
        display: none;
      }
    }
  }
}

.-landing-header-bottom-curve-inverted {
  position: absolute;
  bottom: 0;
  background: $green;
  width: 100vw;
  min-width: 1000px;
  z-index: 9999;

  svg {
    height: 100px;
    width: 100%;
  }
}

.homepage-footer {
  padding: 20px 0 40px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  
  a {
    text-decoration: none;
    color: $blue;
    @include transition(200ms);
  }
  a:hover {
    opacity: .75;
  }
}